<div class="flash_notice_container_more_info"><%= render partial: 'layouts/flash_message' %></div>
<div class="row">
  <div class="col-md-5">
    <h3 class="center">Expected Behaviour</h3>
    <div class="row mt-1">
      <div class="col-md-12">
        <label class="form-label fw-bold" for="short_desc">Short Information:</label>
        <%= @manual_case_result.test_suite.short_description %>
      </div>
      <div class="col-md-12">
        <label class="form-label fw-bold" for="expected_behavior">Brief Information:</label>
        <%= @manual_case_result.manual_case.description.html_safe %>
      </div>
      <div class="col-md-12">
        <label class="form-label fw-bold" for="expected_behavior_screen">Screenshot:</label>
        <% if @manual_case_result.manual_case.screenshot_file_location.present? %>
          <img src="<%= url_for(@manual_case_result.manual_case.get_screenshot_url) %>" class="border border-light" width="200"/>
          <p>
            <%= link_to @manual_case_result.manual_case.get_screenshot_url , title: 'Expected Behaviour Screenshot', target:'_blank' do %>
              Download Attachment
            <% end %>
          </p>
        <% else %>
          <p>NA</p>
        <% end %>

      </div>
    </div>
  </div>
  <div class="vr"></div>

  <div class="col-md-6">
      <%= form_with model: @manual_case_result, data: { turbo: false, remote: true } do |f| %>
      <div class="row g-3">

        <div class="col-md-12">
          <label class="form-label fw-bold" for="manual_case_result_description">Description:</label>
          <%= f.text_area :description, class: 'form-control tinymce' %>
        </div>

        <div class="col-md-12">
          <%= f.label :file, 'Current Behaviour', class: 'form-label fw-bold' %>
          <%= f.file_field :file, class: 'form-control' %>
          <% if @manual_case_result.screenshot_file_location.present? %>
            <img src="<%= url_for(@manual_case_result.get_screenshot_url) %>" class="border border-light" width="200"/>
            <p>
              <%= link_to @manual_case_result.get_screenshot_url , title: 'Current Behaviour Screenshot', target:'_blank' do %>
                Download Attachment
              <% end %>
            </p>
          <% end %>
        </div>

        <div class="col-md-12">
          <label class="form-label fw-bold" for="custom_command_command">Status:</label>
          <%= f.select :status, options_for_select([[ManualCaseResult::STATUS_PASS, ManualCaseResult::STATUS_PASS],[ManualCaseResult::STATUS_FAIL, ManualCaseResult::STATUS_FAIL]], @manual_case_result.status), {}, class: 'form-control' %>
          <%= hidden_field_tag :section, 'more_info' %>
        </div>

        <div class="col-md-12">
          <%= f.submit "Submit", class:"btn btn-primary" %>
        </div>
      </div>
      <% end %>
  </div>
</div>