<div class="flash_notice_container_more_info"><%= render partial: 'layouts/flash_message' %></div>
<div class="row">
  <div class="col-md-5">
    <h3 class="center">Expected Behaviour</h3>
    <div class="row mt-1">
      <div class="col-md-12">
        <label class="form-label fw-bold" for="short_desc">Short Information:</label>
        <%= @manual_case_result.test_suite.short_description %>
      </div>
      <div class="col-md-12">
        <label class="form-label fw-bold" for="expected_behavior">Brief Information:</label>
        <%= @manual_case_result.manual_case.description.html_safe %>
      </div>
      <div class="col-md-12">
        <label class="form-label fw-bold" for="expected_behavior_screen">Screenshot:</label>
        <% if @manual_case_result.manual_case.file.attached? %>
          <img src="<%= url_for(@manual_case_result.manual_case.file) %>" class="form-control" width="200"/>
          <p><%= link_to 'Download Attachment', url_for(@manual_case_result.manual_case.file), target: '_blank' %></p>
        <% else %>
          <p>NA</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="vr"></div>

  <div class="col-md-6">
      <%= form_with model: @manual_case_result, data: { turbo: false, remote: true } do |f| %>
      <div class="row g-3">

        <div class="col-md-12">
          <label class="form-label fw-bold" for="test_plan_role_name">Name:</label>
          <%= f.text_area :description, class: 'form-control tinymce' %>
        </div>

        <div class="col-md-12">
          <label class="form-label fw-bold" for="custom_command_command">Status:</label>
          <%= f.select :status, options_for_select([[ManualCaseResult::STATUS_PASS, ManualCaseResult::STATUS_PASS],[ManualCaseResult::STATUS_FAIL, ManualCaseResult::STATUS_FAIL]], @manual_case_result.status), {}, class: 'form-control' %>
          <%= hidden_field_tag :section, 'more_info' %>
        </div>

        <div class="col-md-12">
          <%= f.submit "Submit", class:"btn btn-primary" %>
        </div>
      </div>
      <% end %>
  </div>
</div>