<%
  breadcrumb = {'Home': root_url, 'Assign Suites' => manual_assign_suites_path, 'Assign Manual Suite' => manual_assign_suites_path, 'Add More Information' => '#' }
  btn = []
%>
<%= render partial: 'common/breadcrumb', locals: {heading: "#{@manual_case_result.manual_case.name}", breadcrumb: breadcrumb, action_btns: btn} %>

<section class="section min-vh-100">
  <div class="flash_notice_container"><%= render partial: 'layouts/flash_message' %></div>
  <p class="text-danger">Please use <%= @manual_case_result.assign_manual_test_suite.browser %> browser instance and go to <a href="<%= @manual_case_result.manual_case.environment.url %>" target="_blank" class="text-danger"><%= @manual_case_result.manual_case.environment.url %></a></p>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <%= render partial: 'manual_case_results/form_content' %>
        </div>
      </div>
    </div>
  </div>
</section>