<%
  breadcrumb = {'Home': root_url, 'Environments' => environments_url, 'Test roles' => environment_test_roles_url(@environment) }
  btn = [{name: 'Create Roles', url: new_environment_test_role_path(@environment), class: 'btn btn-primary rounded-pill btn-sm float-right'}]
%>
<%= render partial: 'common/breadcrumb', locals: {heading: 'Manage Test Roles', breadcrumb: breadcrumb, action_btns: btn} %>

<section class="section min-vh-100">
  <%= render partial: 'layouts/flash_message' %>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Environment: <%= @environment.name %> - <%= @environment.url %></p>
          <!-- Table with stripped rows -->
          <table class="table datatable mt-2">
            <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th data-type="date" data-format="DD-MM-YYYY">Created</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% if @test_roles %>
              <% @test_roles.each do |test_role| %>
                <tr>
                  <td><%= test_role.name  %></td>
                  <td><%= test_role.status ? 'Active' : 'In-active' %></td>
                  <td><%= date_format(test_role.created_at) %></td>
                  <td>
                    <%= link_to(edit_environment_test_role_url(@environment, test_role), title: 'Edit Environment') do %>
                      <i class="bi bi-pencil-fill"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>