<table class="table datatable mt-2" id="myTable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Release Date</th>
    <th>Platform</th>
    <th>Description</th>
    <th>Download</th>
    <% if Current.user.is_admin? %>
      <th>Action</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% if @versions %>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.name  %></td>
        <td><%= version.release_date%></td>
        <td><%= SoftwareVersion::SOFTWARE_TYPES.invert.dig(version.software_type) %></td>
        <td><%= raw version.description %></td>
        <td class="small">
          <%= link_to(version.windows_link, title: "Window Version #{version.name}", target: '_blank') do %>
            <i class="bi bi-download"></i> <span class="small">Windows</span>
          <% end %>
          |
          <%= link_to(version.mac_link, title: "MAC Version #{version.name}", target: '_blank') do %>
            <i class="bi bi-download"></i> <span class="small">MAC</span>
          <% end %>
        </td>
        <% if Current.user.is_admin? %>
          <td>
            <%= link_to(edit_software_version_path(version), title: 'Edit') do %>
              <i class="bi bi-pencil-fill"></i> |
            <% end %>

            <%= link_to(software_version_path(version), method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete Version') do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>