<%
  breadcrumb = {'Home': root_url, 'Assign Suites' => manual_assign_suites_path, 'Assign Manual Suite' => manual_assign_suites_path }
  btn = []
%>
<%= render partial: 'common/breadcrumb', locals: {heading: "#{@assign_manual_test.test_suite.name} manual test cases verification", breadcrumb: breadcrumb, action_btns: btn} %>

<section class="section min-vh-100">

  <%= render partial: 'layouts/flash_message' %>
  <p class="text-danger">Please use <%= @assign_manual_test.browser %> browser instance and go to <a href="<%= @assign_manual_test.environment.url %>" target="_blank" class="text-danger"><%= @assign_manual_test.environment.url %></a></p>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- Table with stripped rows -->
          <table class="table datatable mt-2">
            <thead>
            <tr>
              <th>Test</th>
              <th>Suite</th>
              <th>Short Desc</th>
              <th data-type="date" data-format="DD-MM-YYYY">Created</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% if @manual_case_results %>
              <% @manual_case_results.each do |manual_case_result| %>
                <tr>
                  <td><%= manual_case_result.manual_case.name  %></td>
                  <td><%= manual_case_result.manual_case.test_suite.name  %></td>
                  <td><%= manual_case_result.manual_case.test_suite.short_description  %></td>
                  <td><%= date_format(manual_case_result.created_at) %></td>
                  <td>
                    <%= select_tag(
                          "manual_case_result[status]",
                          options_for_select(ManualCaseResult::STATUS),
                          prompt: "Select",
                        class: 'input-block-level',
                          data: {
                            remote: true,
                            url: "#",
                            method: 'patch'
                          },
                          ) %>
                  </td>
                  <td>

                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>