<%= render partial: 'layouts/flash_message' %>
<div class="row">
  <% if @user.id.blank? %>
    <div class="col-md-12">
      <p class="text-theme fs-5">Assign Existing Member</p>
      <%#= form_with model: @user, url: @user.new_record? ? project_team_members_path(@project, @user) : project_team_member_path(@project, @user), data: { turbo: false } do |f| %>
       <%= form_tag assign_existing_member_project_team_members_path(@project), data: { turbo: false } do %>
        <div class="row g-3">

          <div class="col-md-12">
            <label class="form-label fw-bold" for="user_project_id">Project:</label>
            <%= select_tag(:project_id, options_for_select([[@project.name, @project.id]]), name: 'user[project_id]', id:'user_project_id', class: "form-control", multiple: false) %>
          </div>

          <div class="col-md-12">
            <label class="form-label fw-bold" for="user_email">Email:</label>
            <%= select_tag(:email, options_for_select([]), name: 'user[email]', id:'user_email', class: "form-control", multiple: false) %>
          </div>

          <div class="col-md-12">
            <%#= f.hidden_field :project_id, value: @project.id %>
            <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>

<script type="application/javascript">
    <% if @user.id.blank? %>
    $('#user_email').select2({
        theme: "bootstrap",
        placeholder: "Search and select team member by name",
        width: '100%',
        multiple: false,
        ajax: {
            url: '<%= fetch_team_members_path(format: :json) %>',
            dataType: 'json'
        }
    })
    <% end %>
</script>