<%= render partial: 'layouts/flash_message' %>
<div class="row">
  <% if @user.id.blank? %>
    <div class="col-md-5">
      <p class="text-theme fs-5">Assign Existing Member</p>
      <%#= form_with model: @user, url: @user.new_record? ? project_team_members_path(@project, @user) : project_team_member_path(@project, @user), data: { turbo: false } do |f| %>
       <%= form_tag assign_existing_member_project_team_members_path(@project) do %>
        <div class="row g-3">
          <div class="col-md-12">
            <label class="form-label" for="user_project_id">Project Access Role</label>
            <div id="user_project_access_role">
              <%= select_tag(:project_access_role_id, options_from_collection_for_select(@project.project_access_roles, "id", "name", @user.assign_project_roles.user_project(@project).try(:id)), prompt: 'Select Access Role',name: 'user[project_access_role_id]', class: 'form-control') %>
            </div>
          </div>

          <div class="col-md-12">
            <label class="form-label" for="user_email">Email</label>
            <%= select_tag(:email, options_for_select([]), name: 'user[email]', id:'user_email', class: "form-control", multiple: false) %>
          </div>

          <div class="col-md-12">
            <%#= f.hidden_field :project_id, value: @project.id %>
            <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-1 text-center border">
        <p class="fs-5" style="margin-top: 110px">OR</p>
    </div>
  <% end %>

  <div class="<%= @user.id.blank? ? 'col-md-6' : 'col-md-12' %>">
    <p class="text-theme fs-5">Assign New Member</p>

    <%= form_with model: @user, url: @user.new_record? ? project_team_members_path(@project, @user) : project_team_member_path(@project, @user), data: { turbo: false } do |f| %>
      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label" for="user_project_id">Project Access Role</label>
          <div id="user_project_access_role">
            <%= f.select(:project_access_role_id, options_from_collection_for_select(@project.project_access_roles, "id", "name", @user.assign_project_roles.user_project(@project).try(:id)), { prompt: 'Select Access Role' }, class: 'form-control') %>
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="user_email">Email</label>
          <%= f.text_field :email, placeholder: "Enter Email", class: 'form-control' %>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="user_first_name">First Name</label>
          <%= f.text_field :first_name, placeholder: "Enter First Name", class: 'form-control' %>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="user_last_name">Last Name</label>
          <%= f.text_field :last_name, placeholder: "Enter Last Name", class: 'form-control' %>
        </div>

        <div class="col-md-12">
          <%#= f.hidden_field :project_id, value: @project.id %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>

      </div>
    <% end %>
  </div>
</div>

<script type="application/javascript">
    <% if @user.id.blank? %>
    $('#user_email').select2({
        theme: "bootstrap",
        placeholder: "Search and select team member by name",
        width: '100%',
        multiple: false,
        ajax: {
            url: '<%= fetch_team_members_path(format: :json) %>',
            dataType: 'json'
        }
    })
    <% end %>
</script>