<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <%= form_for Current.user, url: settings_user_path(Current.user), method: :post, data: { turbo: false } do |f| %>
          <div class="row g-3 mt-2">

            <div class="col-md-5">
              <label class="form-label fw-bold" for="user_prefer_project">Projects:</label>
              <%= select_tag(
                    "user[prefer_project]",
                    options_for_select(@projects, Current.user.prefer_project),
                    prompt: "Select Project",
                    class: 'form-control',
                    data: {
                      remote: true,
                      url: get_environments_projects_path,
                      method: 'get'
                    },
                  ) %>
            </div>


            <div class="col-md-5 prefer_environments">
              <label class="form-label fw-bold" for="user_prefer_environment">Environments:</label>
              <%= f.select(:prefer_environment, @environments, { :prompt => 'Select Environment' }, class: 'form-control') %>
            </div>

            <div class="col-md-2 mt-5">
              <input type="hidden" name="redirect" value="<%= params[:redirect] || @section %>"/>
              <%= f.submit "Change Your Preference", class: "btn btn-secondary btn-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>