<%
  breadcrumb = { 'Home': root_url, 'My Profile' => edit_user_url(Current.user) }
  btn = []
%>
<%= render partial: 'common/breadcrumb', locals: { heading: 'Manage Profile', breadcrumb: breadcrumb, action_btns: btn } %>

<section class="section">
  <div class="row">
    <%= render "layouts/flash_message" %>

    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Edit Your Information</h5>
          <%= form_for(Current.user, data: { turbo: false }) do |f| %>

            <div class="row g-3">
              <div class="col-md-4">
                <div class="form-floating">
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "Your First Name", class: 'form-control' %>
                  <%= f.label :first_name %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-floating">
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "Your Last Name", class: 'form-control' %>
                  <%= f.label :last_name %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-floating">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your Email Address", class: 'form-control' %>
                  <%= f.label :email %>
                </div>
              </div>
              <div class="text-left">
                <%= f.submit "Update Information", class: "btn btn-primary" %>
                <%#= link_to "Back", :back, class: 'btn btn-dark' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reset Your Password</h5>
          <%= form_for(Current.user, data: { turbo: false }) do |f| %>

            <div class="row g-3">

              <div class="col-md-6">
                <div class="form-floating">
                  <%= f.password_field :password, autofocus: true, autocomplete: "password", class: 'form-control' %>
                  <%= f.label :password %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new_password", class: 'form-control' %>
                  <%= f.label :password_confirmation %>
                </div>
              </div>

              <div class="text-left">
                <%= f.submit "Update Password", class: "btn btn-primary" %>
                <%#= link_to "Back", :back, class: 'btn btn-dark' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</section>


