<section class="section min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-center">
        <%= render "layouts/flash_message" %>

        <div class="card mb-3">
          <div class="card-body">
            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">Reset Your Password</h5>
              <p class="text-center small">Enter your email to get reset password instruction</p>
            </div>
            <%= form_tag forgot_password_users_path, class: "row g-3 needs-validation" do %>
              <div class="col-12">
                <label class="form-label" for="user_email">Email</label>

                <%= email_field_tag 'email', nil, class: "form-control", id: 'email' %>
                <div class="invalid-feedback">Please enter your email address.</div>

              </div>
              <div class="col-12">
                <%= submit_tag 'Send Reset Password Instructions', class: "btn btn-primary w-100" %>
              </div>
              <div class="col-12">
                <p class="small mt-1">Sign-In back? <%= link_to "Click here", root_path %></p>
              </div>
            <% end %>

          </div>
        </div>


      </div>
    </div>
  </div>

</section>

