<section class="section min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

        <div class="card mb-3">

          <div class="card-body">

            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">Reset Your Password</h5>
              <p class="text-center small">Enter your email to get reset password instruction</p>
            </div>
            <%= render "layouts/flash_message", resource: resource %>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "row g-3 needs-validation", method: :post }) do |f| %>
              <div class="col-12">
                <%= f.label :email, class: "form-label" %>

                  <%= f.email_field :email, class: 'form-control', id: 'email', required1: 'required' %>
                  <div class="invalid-feedback">Please enter your email address.</div>

              </div>
              <div class="col-12">
                <%= f.submit "Send Reset Password Instructions", class: "btn btn-primary w-100" %>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>

          </div>
        </div>


      </div>
    </div>
  </div>

</section>

