
<%= render partial: 'layouts/flash_message' %>
<section class="section dashboard">
  <div class="row">
    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <!-- Total Summary -->
          <%= render 'home/total_summary' %>
        <!-- End Total Summary -->

        <div class="col-12">
        <%= render 'home/test_suite_scheduler_status' %>
        </div>

        <!-- Recent Schedulers -->
        <%= render 'home/recent_schedulers' %>
        <!-- End Recent Sales -->

      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">

      <%= render 'home/test_suite_types' %>
      <%= render 'home/suite_browser_status' %>

    </div><!-- End Right side columns -->

  </div>
</section>