<%= form_with model: @result_case, url: environment_test_suite_scheduler_result_path(@environment, @test_suite, @scheduler, @result_case) , data: { turbo: false, remote: true } do |f| %>
<div id="error"></div>
<div class="row g-3">
  <div class="col-md-12">
    <%= f.label :override_comment, 'Override Comment', class: 'form-label fw-bold' %>
    <%= f.text_area :override_comment, class: 'form-control' %>
  </div>

  <div class="col-md-6 form-check form-switchs">
    <%= check_box_tag 'result_case[override_status_permanently]', class: 'form-check-input' %>
    <label class="form-check-label" for="result_case_override_status_permanently">Override error permanently</label>
  </div>

  <div class="col-md-12">
    <%= f.submit "Override Status", class: "btn btn-primary", data: { disable_with: "Please wait..." } %>
  </div>
</div>
<% end %>