<%
  breadcrumb = {'Home': root_url, "#{@test_suite.name || 'Test Suite'}" => "#", 'Scheduler' => environment_test_suite_schedulers_path(@environment, @test_suite), 'Result' => '#' }
  btn = []
%>
<%= render partial: 'common/breadcrumb', locals: {heading: 'Test Suite Result', breadcrumb: breadcrumb, action_btns: btn} %>
<% result_dictionay = ResultsDictionary.status %>

<section class="section min-vh-100">
  <%= render partial: 'layouts/flash_message' %>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Result Summary</p>
          <%#= render partial: 'schedulers/form' %>
          <div class="row">
            <div class="col-2"><strong>Environment:</strong></div>
            <div class="col-4"><%= @environment.name %></div>

            <div class="col-2"><strong>Test Suite:</strong></div>
            <div class="col-4"><%= @test_suite.name %></div>

            <div class="col-2"><strong>Result Suite Status:</strong></div>
            <div class="col-4"><%= status_image(result_dictionay[@result_suite.rd_id].upcase.to_s).html_safe %></div>

            <div class="col-2"><strong>Result:</strong></div>
            <%
              _pass = @result_cases.collect{|result_case| result_case if result_case.rd_id == ResultsDictionary::STATUS.dig(:SUCCESS)}.compact
              _fail = @result_cases.collect{|result_case| result_case if result_case.rd_id == ResultsDictionary::STATUS.dig(:ERROR)}.compact
            %>
            <div class="col-4"><strong><span class="small text-danger">Fail: <%= _fail.count %></span> | <span class="small text-success">Pass: <%= _pass.count %></span></strong></div>

            <div class="col-2"><strong>Tester:</strong></div>
            <div class="col-4"><%= @result_suite.user.full_name %></div>

            <div class="col-12 mt-2">
              <% if @result_suite.video_file.present? %>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal"><i class="bi bi-camera-reels me-1"></i> Watch Recording</button>
                <a href="<%= @result_suite.video_file_url %>" target="_blank" class="btn btn-info"><i class="bi bi-cloud-download me-1"></i>Download Recording</a>
                <% if @result_suite.video_file.present? and @test_suite.video_file != @result_suite.video_file %>
                  <a href="<%= mark_as_demo_video_environment_test_suite_scheduler_results_path(@environment, @test_suite, @scheduler) %>" target="_blank" class="btn btn-secondary"><i class="bi bi-file-earmark-check me-1"></i>Mark As Demo Video</a>
                <% end %>
                <a href="<%= download_results_environment_test_suite_scheduler_results_path(@environment, @test_suite, @scheduler) %>" target="_blank" class="btn btn-warning"><i class="bi bi-download me-1"></i>Download Results</a>

            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- Table with stripped rows -->
          <div class=table-responsive">
            <table class="table datatable mt-2" id="myTable">
              <thead>
              <tr>
                <th>Sq.</th>
                <th>Description</th>
                <th>Override</th>
                <th>Finish</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              <% if @result_cases %>
                <% @result_cases.each do |result_case| %>
                  <tr>
                    <td><%= result_case.test_case.priority %></td>
                    <td>
                      <%= truncate result_case.error_description, length: 60 %>
                      <% if result_case.error_description.length > 60 %>
                        <span class="badge text-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= result_case.error_description %>"><i class="bi bi-info-circle me-1"></i></span>
                      <% end %>
                      <% if result_case.screenshot_file_location.present? %>
                        <%= link_to load_image_path(result_case: result_case.id) , title: 'View Error Screenshot', target:'_blank' do %>
                          <i class="bi bi-file-earmark-image text-dark"></i>
                        <% end %>
                      <% end %>
                      <% if result_case.rd_id != ResultsDictionary::STATUS[:SUCCESS] %>
                        <%= link_to "Override Status", status_override_environment_test_suite_scheduler_result_path(@environment, @test_suite, @scheduler, result_case), class: 'badge bg-info', remote: true %>
                      <% end %>
                    </td>
                    <td><%= result_case.override_comment  %></td>
                    <td><%= result_case.updated_at.strftime('%d-%m-%Y %H:%M')  %></td>
                    <td>
                      <%= status_image(result_dictionay[result_case.rd_id].upcase.to_s).html_safe %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- End Table with stripped rows -->
        </div>

      </div>
    </div>

  </div>
  </div>
</section>
<div class="modal fade" id="status-override-content" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title results-modal-title"></h5>
        <button type="button" class="btn-close" id="dismiss_model" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body status-override-frm-content">
      </div>
    </div>
  </div>
</div>

<% if @result_suite.video_file.present? %>
<div class="modal fade" id="videoModal" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title results-modal-title">Suite Result Recording</h5>
        <button type="button" class="btn-close" id="dismiss_model" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <video
          id="my-video"
          class="video-js"
          controls
          preload="auto"
          width="640"
          height="400"
          data-setup="{}"
        >
          <source src="<%= @result_suite.video_file_url%>" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</div>
<% end %>