<%
  breadcrumb = {'Home': root_url, 'Assign Suites' => manual_assign_suites_path }
  btn = []
%>
<%= render partial: 'common/breadcrumb', locals: {heading: 'Suite Reports', breadcrumb: breadcrumb, action_btns: btn} %>

<section class="section min-vh-100">

  <%= render partial: 'layouts/flash_message' %>
  <%= render partial: 'suite_reports/nav_tab' %>
  <%= render partial: 'users/user_prefrence_project_environment_frm' %>
  <div class="row">
  <% if params[:action] == 'automated' %>

      <div class="col-lg-4">
        <%= render partial: 'home/test_suite_scheduler_status' %>
      </div>
      <div class="col-lg-4">
        <%= render partial: 'home/suite_browser_status' %>
      </div>
      <div class="col-lg-4">
        <%= render partial: 'home/record_session_chart' %>
      </div>
  <% else %>
    <div class="col-lg-6">
      <%= render partial: 'suite_reports/manual_suite_browser_chart' %>
    </div>
    <div class="col-lg-6">
      <%= render partial: 'suite_reports/manual_suite_state_chart' %>
    </div>
  <% end %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <% if params[:action] == 'index' %>
            <%= render partial: 'suite_reports/manual_reports' %>
          <% elsif params[:action] == 'automated' %>
            <%= render partial: 'suite_reports/automated_reports' %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</section>