<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

        <div class="card mb-3">

          <div class="card-body">

            <div class="pt-4 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
              <p class="text-center small">Enter your email & password to login</p>
            </div>
            <%= render "layouts/flash_message", resource: resource %>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "row g-3 needs-validation" }) do |f| %>
              <div class="col-12">
                <%= f.label :email, class: "form-label" %>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                  <%= f.email_field :email, class: 'form-control', id: 'email', required: 'required' %>
                  <div class="invalid-feedback">Please enter your username.</div>
                </div>
              </div>

              <div class="col-12">
                <%= f.label :password, class: "form-label" %>
                <%= f.password_field :password, class: 'form-control', id: "password", required: 'required' %>
                <div class="invalid-feedback">Please enter your password!</div>
              </div>


              <% if devise_mapping.rememberable? %>
                <div class="col-12">
                  <div class="form-check">
                    <%= f.check_box :remember_me, class: 'form-check-input', id: 'rememberMe' %>
                    <%= f.label :remember_me, class: "form-check-label" %>
                  </div>
                </div>
              <% end %>

              <div class="col-12">
                <%= f.submit "Log in", class: "btn btn-primary w-100" %>
              </div>
              <div class="col-12">
                <%= render "devise/shared/links" %>
              </div>
            <% end %>


          </div>
        </div>


      </div>
    </div>
  </div>

</section>
