<%= render partial: 'layouts/flash_message' %>
<%= form_with model: @custom_command, url: @custom_command.new_record? ? environment_custom_commands_path(@environment)  : environment_custom_command_path(@environment, @custom_command),  data: { turbo: false } do |f| %>
  <div class="row g-3">

    <div class="col-md-12">
      <label class="form-label" for="custom_command_name">Name</label>
      <%= f.text_field :name, placeholder: "Enter custom command name", class: 'form-control' %>
    </div>

    <div class="col-md-12">
      <label class="form-label" for="custom_command_command">Command</label>
      <%= f.text_field :command, placeholder: "Enter custom command", class: 'form-control' %>
    </div>

    <div class="col-md-12">
      <%= f.submit "Submit", class:"btn btn-primary" %>
    </div>

  </div>
<% end %>