<%= render partial: 'layouts/flash_message' %>
<%= form_with model: @custom_command, url: @custom_command.new_record? ? environment_custom_commands_path(@environment)  : environment_custom_command_path(@environment, @custom_command),  data: { turbo: false } do |f| %>
  <div class="row g-3">

    <div class="col-md-12">
      <label class="form-label fw-bold" for="custom_command_name">Name</label>
      <%= f.text_field :name, placeholder: "Enter custom command name", class: 'form-control' %>
    </div>

    <div class="col-md-12">
      <label class="form-label fw-bold" for="custom_command_command">Command</label>
      <%= f.text_field :command, placeholder: "Enter custom command", class: 'form-control' %>
    </div>

    <div class="col-md-12">
      <table id="custom_commands_form" class="table no-wrap">
        <thead>
        <tr>
          <th>Params</th>
          <th class="actions"></th>
        </tr>
        </thead>
        <% (@custom_command.parameters || []).each_with_index do |parameter, index| %>
        <tr id="row-<%= index %>">
          <td>
            <input type="text" name="custom_command[parameters][]" class='form-control' value="<%= parameter %>" />
          </td>
          <td class='' style='vertical-align: middle;'>
            <a href='javascript:void(0);' class='remove-options'><i class='bi bi-trash' title='remove'></i></a>
          </td>
        </tr>
        <% end %>

      </table>
      <div class="table-responsive" style="text-align: right">
        <a href="javascript:void(0)" class="add-options"><i class="bi bi-file-earmark-plus-fill"></i>Add Params</a>
      </div>
    </div>

    <div class="col-md-12">
      <%= f.submit "Submit", class:"btn btn-primary" %>
    </div>

  </div>
<% end %>
<script>
    var _row = <%= @custom_command.parameters.present? ? @custom_command.parameters.count + 1 : 0  %>;
    $(".add-options").click(function () {
        $('#custom_commands_form').append('<tr id="row-' + (_row) + '"></tr>');
        $('#row-' + _row).html("<td><input name='custom_command[parameters][]' type='text' placeholder='' class='form-control'  /></td><td class='' style='vertical-align: middle;'><a href='javascript:void(0);' class='remove-options'><i class='bi bi-trash' title='remove'></i></a></td>");
        _row++;
    });

    $(document).on("click", '.remove-options', function () {
        // if ($(this).next().hasClass('destroy')) {
        //     $(this).next().attr('value', true);
        // }
        $(this).parent().parent().remove();
    });
</script>