<%
  breadcrumb = {'Home': root_url, 'Manage Environments' => environments_url, 'Custom Commands' => environment_custom_commands_path(@environment)  }
  btn = [{name: 'Create Commands', url: new_environment_custom_command_path(@environment), class: 'btn btn-primary rounded-pill btn-sm float-right'}]
%>
<%= render partial: 'common/breadcrumb', locals: {heading: 'Manage Environment - Custom Command', breadcrumb: breadcrumb, action_btns: btn} %>

<section class="section min-vh-100">
  <%= render partial: 'layouts/flash_message' %>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <%= render partial: 'environments/nav_tab' %>
          <!-- Table with stripped rows -->
          <div class="table-responsive">
            <table class="table datatable mt-2" id="myTable">
              <thead>
              <tr>
                <th width="25%">Name</th>
                <th width="25%">command</th>
                <th width="25%">Parameters</th>
                <th width="15%">Created</th>
                <th width="10%" >Action</th>
              </tr>
              </thead>
              <tbody>
              <% if @custom_commands %>
                <% @custom_commands.each do |custom_command| %>
                  <tr>
                    <td><%= custom_command.name  %></td>
                    <td><%= custom_command.command %></td>
                    <td><%= 'ss' %></td>
                    <td><%= date_format(custom_command.created_at) %></td>
                    <td>
                      <%= link_to(edit_environment_custom_command_path(@environment, custom_command), title: 'Edit Environment') do %>
                        <i class="bi bi-pencil-fill"></i>
                      <% end %>

                      <%= link_to(environment_custom_command_path(@environment, custom_command), method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete Environment') do %>
                        <i class="bi bi-trash"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>