<%= render partial: 'layouts/flash_message' %>
<%= form_with url: @project_access_role.id.present? ? project_role_path(@project, @project_access_role) : project_roles_path(@project), model: @project_access_role, data: { turbo: false } do |f| %>
  <div class="row g-3">

    <div class="col-md-12">
      <label class="form-label" for="environment_project_id">Project</label>
      <%= f.select(:project_id, [[@project.name, @project.id]], {}, class: 'form-control') %>
    </div>

    <div class="col-md-12">
      <label class="form-label" for="project_access_name">Project Access Role Name</label>
      <%= f.text_field :name, placeholder: "Enter Access Role Name", class: 'form-control' %>
    </div>

    <div class="col-md-12">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, placeholder: "Enter description", class: 'form-control' %>
    </div>

    <div class="col-md-12">
      <%= f.submit "Submit", class:"btn btn-primary" %>
    </div>

  </div>
<% end %>