<%
  breadcrumb = {'Home': root_url, 'Environments' => environments_url, 'Test Suites' => environment_test_suites_url(@environment) }
  btn = [
    { name: 'Create Test Suite', url: new_environment_test_suite_path(@environment), class: 'btn btn-primary btn-sm float-right'},
    { name: 'Import Suite & Cases', url: import_environment_test_suites_path(@environment), class: 'btn btn-info btn-sm float-right'}
  ]
%>
<%= render partial: 'common/breadcrumb', locals: {heading: 'Manage Test Suite', breadcrumb: breadcrumb, action_btns: btn} %>

<section class="section min-vh-100">
  <%= render partial: 'layouts/flash_message' %>

  <%= render partial: 'test_suites/nav_tab' %>
  <%= render partial: 'users/user_prefrence_project_environment_frm' %>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <%= render partial: 'test_suites/result_content' %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="test-assignment-user" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Assign suite to key user for perform verification.</h5>
        <button type="button" class="btn-close" id="dismiss_model" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body test-assignment-user-content">
      </div>
    </div>
  </div>
</div>