<%
  breadcrumb = {'Home': root_url, 'Environments' => environments_url, 'Test Suites' => environment_test_suites_path(@environment), 'Automate Test Cases' => environment_test_suite_manual_test_cases_path(@environment, @test_suite) }
  btn = [
    { name: 'Add Selenium Code', url: selenium_custom_code_environment_test_suite_test_cases_path(@environment, @test_suite), class: 'btn btn-info rounded-pill btn-sm float-right'},
    { name: 'Create Automate Case', url: new_environment_test_suite_test_case_path(@environment, @test_suite), class: 'btn btn-primary rounded-pill btn-sm float-right'}
  ]
%>
<%= render partial: 'common/breadcrumb', locals: {heading: 'Manage Automate Test Cases', breadcrumb: breadcrumb, action_btns: btn} %>

<section class="section min-vh-100">
  <%= render partial: 'layouts/flash_message' %>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- Table with stripped rows -->
          <div class="table-responsive">
            <table class="table datatable mt-2 table-hover table-sm" id="myTable">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">FieldType</th>
              <th scope="col">ReadElement</th>
              <th scope="col">InputValue</th>
              <th scope="col">Action</th>
              <th scope="col">XPATH</th>
              <th scope="col">FullPath</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% if @test_cases %>
              <% @test_cases.each do |test_case| %>
                <tr>
                  <td><%= test_case.field_name  %></td>
                  <td><%= test_case.field_type  %></td>
                  <td><%= test_case.read_element  %></td>
                  <td><%= test_case.input_value  %></td>
                  <td><%= test_case.action %></td>
                  <td><%= test_case.xpath %></td>
                  <td class="wrap"><%= test_case.full_xpath %></td>
                  <td>
                    <%= link_to(edit_environment_test_suite_test_case_url(@environment, @test_suite, test_case), title: 'Edit Suite') do %>
                      <i class="bi bi-pencil-fill"></i>
                    <% end %>
                    <%= link_to(environment_test_suite_test_case_url(@environment, @test_suite, test_case), method: :delete, data: {confirm: 'Are you sure? It will delete all the associates records of it like test results etc.'}, title: 'Delete Case') do %>
                      | <i class="bi bi-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          </div>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>