<%= render partial: 'layouts/flash_message' %>
<%= form_with model: @test_plan, url: @test_plan.new_record? ? environment_test_plans_path(@environment, @test_plan) : environment_test_plan_path(@environment, @test_plan), data: { turbo: false } do |f| %>

  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label fw-bold" for="test_plan_name">Name:</label>
      <%= f.text_field :name, placeholder: "Enter name", class: 'form-control' %>
    </div>

    <div class="col-md-6">
      <label class="form-label fw-bold" for="test_plan_suite_count">Suite Count:</label>
      <%= f.number_field :suite_count, placeholder: "Enter description", class: 'form-control' %>
    </div>

    <div class="col-md-12">
      <label class="form-label fw-bold" for="test_plan_role">Role:</label>
      <%= f.collection_select :test_role_ids, @environment.test_roles, :id, :name, {}, { multiple: true, class: "form-control" } %>
    </div>

    <div class="col-md-12">
      <label class="form-label fw-bold" for="test_plan_description">Plan Description:</label>
      <%= f.text_area :description, placeholder: "Enter description", class: 'form-control tinymce' %>
    </div>


    <div class="col-md-12">
      <label class="form-label fw-bold" for="test_plan_status">Status:</label>
      <%= f.select :status, [['Active', 1], ['In-active', 0]], {}, class: 'form-control' %>
    </div>

    <div class="col-md-12">
      <label class="form-label fw-bold" for="test_plan_steps">Steps:</label>
      <table id="test_plan_steps_form" class="table no-wrap">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th class="actions"></th>
        </tr>
        </thead>
        <%= f.fields_for :test_plan_steps do |plan_step_form| %>

          <% if @test_plan.test_plan_steps.present? %>
            <tr id="row">
              <td>
                <%= plan_step_form.text_field :name, class: "form-control" %>
              </td>
              <td>
                <%= plan_step_form.text_area :description, class: "form-control" %>
              </td>
              <td class='' style='vertical-align: middle;'>
                <a href='javascript:void(0);' class='remove-options'><i class='bi bi-trash' title='remove'></i></a>
                <%= plan_step_form.hidden_field :_destroy, class: 'destroy' %>
              </td>
            </tr>
          <% end %>

        <% end %>
      </table>
      <div class="table-responsive" style="text-align: right">
        <a href="javascript:void(0)" class="add-options"><i class="bi bi-file-earmark-plus-fill"></i>Add Step</a>
      </div>
    </div>

    <div class="col-md-12">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>

  </div>
<% end %>

<script>
    var _row = <%= @test_plan.test_plan_steps.count %>;
    $(".add-options").click(function () {
        $('#test_plan_steps_form').append('<tr id="row-' + (_row) + '"></tr>');
        $('#row-' + _row).html("<td><input name='test_plan[test_plan_steps_attributes][" + _row + "][name]' type='text' placeholder='' class='form-control'  /></td><td><textarea name='test_plan[test_plan_steps_attributes][" + _row + "][description]' class='form-control'></textarea></td><td class='' style='vertical-align: middle;'><a href='javascript:void(0);' class='remove-options'><i class='bi bi-trash' title='remove'></i></a></td>");
        _row++;
    });

    $(document).on("click", '.remove-options', function () {
        if ($(this).next().hasClass('destroy')) {
            $(this).next().attr('value', true);
        }
        $(this).parent().parent().hide();
    });
</script>