<%= render partial: 'layouts/flash_message' %>
<%= form_with model: @test_case, url: @test_case.new_record? ? environment_test_suite_manual_test_cases_path(@environment, @test_suite) : environment_test_suite_manual_test_case_path(@environment, @test_suite, @test_case), data: { turbo: false } do |f| %>
  <div class="row g-3">

    <div class="col-md-6">
      <%= f.label :name, 'Name*', class: 'form-label fw-bold' %>
      <%= f.text_field :name, placeholder: "Enter name", class: "form-control #{error_class(@test_case, :name)}" %>
    </div>

    <div class="col-md-6">
      <%= f.label :url, 'URL', class: 'form-label fw-bold' %>
      <%= f.text_field :url, placeholder: "Enter URL", class: 'form-control' %>
    </div>

    <div class="col-md-12">
      <%= f.label :description, 'Expected Behaviour *', class: 'form-label fw-bold' %>
      <%= f.text_area :description, class: "form-control tinymce #{error_class(@test_case, :name)}" %>
    </div>

    <div class="col-md-6">
      <%= f.label :file, 'File', class: 'form-label fw-bold' %>
      <%= f.file_field :file, class: 'form-control' %>
      <% if @test_case.screenshot_file_location.present? %>
        <img src="<%= url_for(@test_case.get_screenshot_url) %>" class="border border-light" width="200"/>
        <p>
        <%= link_to @test_case.get_screenshot_url , title: 'Expected Behavior Screenshot', target:'_blank' do %>
          Download Attachment
        <% end %>
        </p>
        <p><%= link_to 'Remove Attachment', delete_attachment_environment_test_suite_manual_test_case_path(@environment, @test_suite, @test_case), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= f.label :is_active, 'Active', class: 'form-label fw-bold' %>
      <%= f.select(:is_active, options_for_select([['Yes', 1],['No', 0]], selected: @test_case.is_active ? 1 : 0), {}, class: "form-control") %>
    </div>

    <div class="col-md-12">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
