<ul class="sidebar-nav" id="sidebar-nav">
  <% _show = ['home'].include?(params[:controller]) ? 'show' : '' %>
  <li class="nav-item">
    <a class="nav-link <%= _show.present? ? '' : 'collapsed' %>" href="<%= root_url %>">
      <i class="bi bi-grid"></i>
      <span>Dashboard</span>
    </a>
  </li><!-- End Dashboard Nav -->

  <li class="nav-item">
    <a class="nav-link <%= ['projects', 'team_members', 'custom_commands'].include?(params[:controller]) ? '' : 'collapsed' %>" href="<%= projects_path %>">
      <i class="bi bi-menu-button-wide"></i><span>Manage Projects</span>
    </a>
  </li>

  <li class="nav-item">
    <% clss = ['environments','test_plans', 'test_roles'].include?(params[:controller])  ? 'show' : '' %>
    <a class="nav-link <%= clss.present? ? '' : 'collapsed' %>" data-bs-target="#env-nav" href="<%= environments_path %>">
      <i class="bi bi-cloud-plus"></i><span>Environments</span>
    </a>
    <% if params[:environment_id].present? and ['environments','test_plans', 'test_roles'].include?(params[:controller])  %>
      <ul id="env-nav" class="nav-content ms-3 collapse show" data-bs-parent="#env-nav">
        <li>
          <%= link_to(environment_test_roles_path(get_environment), class: ['test_roles'].include?(params[:controller]) ? 'active' : '') do %>
            <i class="bi bi-circle"></i>
             <span>Test Roles</span>
          <% end %>
        </li>
        <li>
          <%= link_to(environment_test_plans_path(get_environment), class: ['test_plans'].include?(params[:controller]) ? 'active' : '') do %>
            <i class="bi bi-circle"></i>
            <span>Test Plan</span>
          <% end %>
        </li>
      </ul>
    <% end %>
  </li>


  <li class="nav-item">
    <a class="<%= ['test_suites', 'manual_test_cases','test_cases','schedulers','results'].include?(params[:controller]) ? 'active nav-link' : 'nav-link collapsed' %>" href="<%= suites_path %>">
      <i class="bi bi-paperclip"></i><span>Manage Suites</span>
    </a>
  </li>

  <li class="nav-item">
    <%= link_to(manual_assign_suites_path, class: ['assign_suites'].include?(params[:controller]) ? 'active nav-link' : 'nav-link collapsed') do %>
      <i class="bi bi-journal-text"></i><span>Work Items</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to(suite_reports_path, class: ['suite_reports'].include?(params[:controller]) ? 'active nav-link' : 'nav-link collapsed') do %>
      <i class="bi  bi-bar-chart"></i><span>Suite Reports</span>
    <% end %>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#release-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-gem"></i><span>Manage Release</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="release-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a href="javascript:void(0);" onclick="alert('Working on it.');">
          <i class="bi bi-circle"></i><span>Release</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-item">
    <%= link_to(documentation_path, class: (['home'].include?(params[:controller]) and ['documentation'].include?(params[:action])) ? 'active nav-link' : 'nav-link collapsed') do %>
      <i class="bi bi-info-circle"></i><span>Documentation</span>
    <% end %>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-layout-text-window-reverse"></i><span>Manage Compliance</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a href="javascript:void(0);" onclick="alert('Will implement soon');">
          <i class="bi bi-circle"></i><span>Accessibility Compliance</span>
        </a>
      </li>
    </ul>
  </li>

  <% if Current.user.try(:is_admin?) %>
  <li class="nav-heading">Administrator Section</li>

  <li class="nav-item">
    <%= link_to(invite_users_path, class: (['users'].include?(params[:controller]) and ['invite'].include?(params[:action])) ? 'active nav-link' : 'nav-link collapsed') do %>
      <i class="bi bi-person"></i><span>Invite User</span>
    <% end %>
  </li><!-- End Profile Page Nav -->

  <li class="nav-item">
    <a href="javascript:void(0);" class="nav-link collapsed"  onclick="alert('Will implement soon');">
      <i class="bi bi-currency-dollar"></i>
      <span>Subscription Plans</span>
    </a>
  </li>

  <li class="nav-item">
    <a href="javascript:void(0);" class="nav-link collapsed"  onclick="alert('Will implement soon');">
      <i class="bi bi-envelope"></i>
      <span>User Inquiry</span>
    </a>
  </li><!-- End Contact Page Nav -->

  <li class="nav-item">
    <%= link_to(software_versions_path, class: ['software_versions'].include?(params[:controller]) ? 'active nav-link' : 'nav-link collapsed') do %>
      <i class="bi bi-download"></i>
      <span>Software Version</span>
    <% end %>
  </li><!-- End Register Page Nav -->

 <% end %>

  <% if logged_in? %>
  <li class="nav-item">
    <%= link_to(session_path, class: 'nav-link collapsed', data: { turbo_method: :delete, confirm: "Are you sure?" }) do %>
      <i class="bi bi-box-arrow-right"></i>
      <span>Sign Out</span>
    <% end %>
  </li>
  <% end %>

</ul>